- name: create folder
  file:
    path: ~/web
    state: directory

# - name: copy artifact files 
#   template:
#     src: 
#       files/artifact.tar.gz
#     dest: ~/

- name: extract artifact tar file 
  unarchive:
    src: artifact.tar.gz
    dest: ~/web

- name: installing dependencies
  shell: |
    cd ~/web
    npm install     

- name: Executing node
  # become: true
  shell: |
    cd ~/web  
    pm2 stop default
    pm2 start npm --start 